<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSInputMonitoringUsageDescription</key>
	<string>OpenShot needs input monitoring permission to show key press captions while recording.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>OpenShot needs screen recording permission to capture screenshots.</string>
</dict>
</plist>
