<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSInputMonitoringUsageDescription</key>
	<string>Screendrop needs input monitoring permission to show key press captions while recording.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Screendrop needs microphone permission to include narration in screen recordings.</string>
	<key>NSScreenCaptureUsageDescription</key>
	<string>Screendrop needs screen recording permission to capture screenshots.</string>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/fayazara/screendrop/main/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>MA/6n0fqT0T2updDlkXr8BjhJKoHWik9uf6Lh5pUG7U=</string>
</dict>
</plist>
